// VARIABLES //
// fuentes
$font-principal: Chucknoon;
$font-secundaria: Butler;

// colores
$principal-color: #dab49d;
$second-color: #f3e9dc;
$bg-color: #dab49d85;
$bg-text: #00000024;
$text-color: #f3e9dc;

// tamaños
$font-size-titulos: 50px;
$font-size-textos: 20px;
$medidas-logo: 40px;
$separador: 10px;
//FIN VARIABLES//


.featured {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 7%, #F7CE68 100%);    
    border-radius: 25%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    align-content: center;
    font-family: sans-serif;
    font-weight: bolder;
}

.valores {
    padding-bottom: 15px;
}

.texto-sobre-nosotros {
    padding-top: 60px;
    padding-bottom: 40px;
}

.titulo-griback {
    font-size: 70px;
    margin-top: -50px !important;
}

.riback-cereales {
    margin-top: 20px;
    margin-bottom: 20px;
}


.bialystok {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icono {
    font-size: 30px;
    color: #463201;
}

.img-logo-sn {
    transition: 1s;
    padding-top: 40px;
}

.img-logo-sn:last-child {
    padding-bottom: 20px;
}

.img-logo-sn:hover {
    transform: scale(1.1);
}