@font-face {
    font-family: "Chucknoon";
    src: url(../fonts/ChuckNoon.ttf) ;
}
@font-face {
    font-family: "Butler";
    src: url(../fonts/Butler_Regular.otf) ;
}

@font-face {
    font-family: "SerifDisplay";
    src: url(../fonts/DMSerifDisplay-Regular.ttf) ;
}