* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-image: url(../imagenes/cebada\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.div-vacio {
    padding-top: 50px;
    background-color: #dab49d;
}

nav {
    font-family: SerifDisplay;
    background-color: #dab49de4;
    text-transform: uppercase;
}

nav .logo img {
    height: 40px;
    width: 40px;
}

nav .logo {
    font-family: Chucknoon;
    font-size: 20px;
    text-decoration: none;
}

.nav-bar {
    width: 60%;
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin: auto;
}

.principio {
    background: #dab49d85;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3e9dc;
}

h1 , h2 {
    font-family: Chucknoon;
}

.img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
}

.texto-principal{
    max-width: 600px;
    font-family: Butler;
    text-align: center;
    height: auto;
    color: #3c1a10;
    background: #00000010;;
    border-radius: 10px;
}

.nuestros-productos {
    background-color: #dab49d85;
    color: #3c1a10;
}

.carousel-inner {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px #3c1a10 solid;
}

.carousel-img {
    min-height : 410px;
}

.proceso-productivo {
    background-color: #dab49d85;
    color: #3c1a10;
}

.video-malta {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 320px;
    height: 180px;

}

@media screen and  (min-width:800px) {
    .video-malta {
        width: 640px;
        height: 360px;
    }
}

.bg {
    padding-top: 50px;
    background: #dab49d85;
    padding-bottom: 100px;
}

footer {
    height: 10vh;
}