* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-image: url(../imagenes/cebada\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


nav {
    font-family: SerifDisplay;
    background-color: #dab49d85;
    text-transform: uppercase;
}

nav .logo img {
    height: 40px;
    width: 40px;
}

nav .logo {
    font-family: Chucknoon;
    font-size: 20px;
    text-decoration: none;
}

.nav-bar {
    width: 60%;
    display: flex;
}

li {
    list-style-type: none;
    margin: auto;
}

.principio {
    background-color: #dab49d85;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3e9dc;
}

h1 , h2 {
    font-family: Chucknoon;
}

.img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
}

.texto-principal{
    max-width: 600px;
    font-family: Butler;
    text-align: center;
    height: auto;
    color: #3c1a10;
    background: #00000010;;
    border-radius: 10px;
}

.carrusel {
    background-color: #dab49d85;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.carousel-inner {
    border-radius: 20px;
    border: 2px #3c1a10 solid;
    width: ;
}

.carousel-img {
    min-height : 500px;
}

footer {
    height: 10vh;
}